.donut-page-container {
  background-color: #9ee98f;
  border-radius: 16px;
  padding: 20px;
  margin-top: 10px;
  width: 90%;
  max-width: 450px; 
  text-align: center;
}
  
.donut-page-container h2 {
  margin-bottom: 20px;
  color: #333;
}
  
.donut-charts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.donut-item {
  background-color: #c1f0ad;
  border-radius: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 190px;
  max-width: 190px;
}
  